%h1 もの覚えのよい猫bot
= nested_form_for(@group, :url => {:controller => :webhook, :action => :edit},:remote => false) do |f|
  %h2 タスク
  = f.fields_for :tasks do |task_form|
    = task_form.text_field :name
    = task_form.link_to_remove "Remove this"
  = f.link_to_add "Add task", :tasks
  %br
  %h2 フレーズ
  = f.fields_for :phrases do |phrase_form|
    = phrase_form.text_field :if
    といったら
    = phrase_form.text_field :then
    = phrase_form.link_to_remove "Remove this"
  = f.link_to_add "Add phrase", :phrases
  .actions
    = f.submit "更新",:id=>"submit"
